* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
body {
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
 }

.column-left {
    background-image: url("../img/leef.avif");
    background-size: cover;
    width: 37%;
  }
.column-right { 
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .row-one {
    background-color: rgb(243 244 246);
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    color: black;
    font-weight: bold ;
    font-size: 2.5rem ;

  }
 
   .paragraph-one {
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 75%;
  }
  .paragraph-two {
    margin-left: 50px;
    width: 75%;

  }
  .row-two {
    height: 65%;
    width: 100%;

  } 
  .create_account_form {
    background-color: black;
    height: 100%;
    width: 100%;
    
  }
  .form-row-one {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    height: 5%;
    width: 20%;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 15px;

  } 
  .form-row-two {
    background-color: white;
    height: 41%;
    width: 100%;

  } 
  .form-row-three {
    background-color: rgb(243 244 246);
    height: 54%;
    width: 100%;

  }


  input {
    display: block;
    height: 35px;
    width: 200px;
  }
  label {
    display: block;
    height: 20px;
    width: 200px;
  }
  